# Requirements for authy2fa-flask

# Flask + assorted extensions
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-DotEnv==0.1.2
Flask-Migrate==4.0.0
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1

# Other libraries
authy==2.2.6
requests>=2.28.1

# Production server
gunicorn==20.1.0

# Testing
coverage==6.5.0
