# Requirements for authy2fa-flask

# Flask + assorted extensions
Flask==3.0.2
Flask-Bootstrap==3.3.7.1
Flask-DotEnv==0.1.2
Flask-Migrate==4.0.5
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1

# Other libraries
authy==2.2.6
requests>=2.31.0
python-dotenv>=1.0.1

# Production server
gunicorn==21.2.0

# Testing
coverage==7.4.3
